<section class="games-list container" id="game">
  <h1>Available Games</h1>
  <article class="game-card">
    <img src="../img/game.jpg" alt="Stardew Slot Preview" class="game-image" />
    <div class="game-info">
      <h2>Stardew Valley Slot</h2>
      <p>
        Enjoy the magic of Stardew Valley with this exciting social slot game —
        no deposit needed!
      </p>
      <button class="btn-cta">Play Now</button>
      <a href="/partials/game-details.html" class="btn-cta btn-see-more"
        >See More</a
      >
    </div>
  </article>

  <div class="modal-overlay" id="modalOverlay">
    <div class="modal-content">
      <button class="modal-close-btn" id="closeModalBtn">&times;</button>
      <h3>Stardew Valley Slot - Game Info</h3>
      <p>
        Enjoy the magic of Stardew Valley with this exciting social slot game —
        no deposit needed! Explore features, gameplay, and start playing now.
      </p>
      <button class="btn-play-modal">Start Playing</button>
    </div>
  </div>
</section>
