<header class="header">
  <div class="container header-inner">
    <a href="/index.html" class="logo">
      <img class="img-logo" src="../favicons/apple-touch-icon.png" alt="logo" />
      <span class="logo-text">AppGames</span>
    </a>
    <nav class="header-container-nav">
      <ul class="header-navigation">
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="/index.html">Home</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="#game">Games</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="/partials/privacy.html"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
