<section class="hero">
  <div class="container hero-content">
    <div class="hero-text">
      <h1 class="hero-title">Welcome to Stardew Slots!</h1>
      <p class="hero-subtitle">
        Try your luck in our social free-to-play farm-style casino.
      </p>
      <a href="./partials/fun-game.html" class="btn-cta btn-see-more"
        >Play now!</a
      >
    </div>
    <div class="hero-img-wrapper">
      <img
        src="../img/slot.png"
        alt="Stardew Slot Machine"
        class="hero-image"
      />
    </div>
  </div>
</section>
