<div class="modal-overlay-menu">
  <div class="mobile-menu">
    <button class="mobmenu-btn-close">
      <svg class="mobmenu-svg-close" width="14" height="14">
        <use href="../img/cross.svg#icon-cross"></use>
      </svg>
    </button>
    <nav class="mobmenu-nav">
      <ul class="mobnemu-list">
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="/index.html">Home</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="/game.html">Games</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="/privacy.html">Privacy Policy</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
